/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


body{
  background-color: #fffdfd;
  opacity: 4;
  background-image: radial-gradient(circle at center center, #f5f6f6, #d4d4d4);
  background-blend-mode: multiply;
background-blend-mode: multiply;

 
  padding-top:10px;
  padding-bottom:40x;
 
}
.name {
  color: #f11010;
  display:flex;
  justify-content: center;
  font-family: 'Rampart One', cursive;
  font-size: 35px;
}
.banner-image{
  margin: auto;
  width:200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  position: center;
  display: flex;
}
